/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */
/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button:disabled,
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type="search"] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

//リセットCSS

@import "_configuration";

body {
  margin: 0 auto;
  font-family: "Helvetica";
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  background-color: #f5f4f2;
  color: #333333;
  font-family: "Noto Sans JP", "sans-serif";
}

.mark {
  background: linear-gradient(transparent 35%, #f4f085 10%);
  padding-bottom: 3px;
}

//header

.header {
  padding-top: 24px;
  font-family: "Noto Sans JP", "sans-serif";
  margin-bottom: 10px;
  &__logo {
    text-align: center;
    margin-bottom: 24px;
    a:hover {
      opacity: 0.7;
    }
  }
  &__menusection {
    width: 100%;
    background-color: #9b8a64;
    color: #ffffff;
    &-inr {
      max-width: 560px;
      margin: 0 auto;
      .header__menu {
        display: flex;
        justify-content: space-between;
        &-item {
          text-align: center;
          font-size: 1.6rem;
          a{
            width: 100%;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          a:hover {
            opacity: 0.7;
          }
          span {
            display: block;
            font-size: 1rem;
            margin-top: 4px;
          }
        }
      }
    }
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
}

//bodycontent
.bodycontent {
  max-width: 1000px;
  margin: 0 auto;

  // header__bottomtag
  .pankuzu {
    margin-bottom: 60px;
    &-menu {
      display: flex;
      li {
        a {
          padding: 0 8px;
        }
        a:hover {
          opacity: 0.7;
        }
      }
      li::after {
        content: "";
        background-image: url(../image/rightarrow.png);
        width: 6px;
        height: 8px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  //towcolumncontent
  .two-columncontent {
    display: flex;
    justify-content: space-evenly;

    //leftcontent
    .leftcontent {
      width: 640px;
      margin-bottom: 80px;
      &__inr {
        width: 100%;
        padding: 40px 20px;
        margin-bottom: 80px;
        background-color: #ffffff;
        box-sizing: border-box;
        //leftcontent__head
        .leftcontent__head {
          &-title {
            border-bottom: #cbc8c2 1px solid;
            padding-bottom: 16px;
            .leftcontent__head-titlelink {
              display: flex;
              .leftcontent__head-time {
                width: 60px;
                min-width: 60px;
                height: 60px;
                min-height: 60px;
                font-size: 1rem;
                text-align: center;
                background-color: #333333;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                span {
                  font-size: 2rem;
                  margin-top: 6px;
                }
              }
              .leftcontent__head-titletext {
                max-width: 504px;
                font-size: 2.8rem;
                padding-left: 20px;
              }
            }
            .leftcontent__head-titlelink:hover {
              opacity: 0.7;
            }
          }
          .leftcontent__head-category {
            color: #cbc8c2;
            font-size: 1rem;
            margin: 11px 0 32px 0;
            a:hover {
              opacity: 0.7;
            }
          }
          .leftcontent__head-category::before {
            content: "";
            background-image: url(../image/file.png);
            display: inline-block;
            width: 16px;
            height: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            margin-right: 10px;
          }
          .leftcontent__head-img {
            margin-bottom: 32px;
          }
          .leftcontent__head-article {
            max-width: 580px;
            max-height: 176px;
            background-color: #f5f4f2;
            font-size: 1.6rem;
            line-height: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 80px;
            .head__article-text {
              padding: 32px 25px;
              box-sizing: border-box;
            }
          }
        }

        //leftcontent__work
        .leftcontent-inr__section {
          &-subtitle {
            font-size: 2.4rem;
            display: flex;
            align-items: center;
            border-top: 1px solid #cbc8c2;
            border-bottom: 1px solid #cbc8c2;
            padding: 16px 0 16px 39px;
            margin-bottom: 16px;
          }
          &-subtitle::before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 60px;
            background-color: #9b8a64;
            margin-right: 10px;
          }
          .leftcontent-inr__section-flex {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 16px;
            &text {
              max-width: 226px;
              font-size: 1.4rem;
              line-height: 2;
            }
          }
          .leftcontent-inr__section-text {
            max-width: 530px;
            margin: 0 auto 40px auto;
            font-size: 1.4rem;
            line-height: 2;
          }

          .leftcontent-inr__section__andy {
            max-width: 530px;
            margin: 0 auto 60px auto;
            &-h3 {
              font-size: 2rem;
              border-bottom: 1px dashed #cbc8c2;
              padding-bottom: 16px;
              margin-bottom: 16px;
            }
            &-text {
              font-size: 1.4rem;
              line-height: 2;
            }
          }
        }
        
      }
      //leftcontent__thoughts

      .leftcontent__thoughts {
        &-subtitle {
          font-size: 2.4rem;
          display: flex;
          align-items: center;
          border-top: 1px solid #cbc8c2;
          border-bottom: 1px solid #cbc8c2;
          padding: 16px 0 16px 39px;
          margin-bottom: 16px;
        }
        &-subtitle::before {
          content: "";
          display: inline-block;
          width: 10px;
          height: 60px;
          background-color: #9b8a64;
          margin-right: 10px;
        }
        .thoughts__text {
          max-width: 530px;
          margin: 0 auto 10px auto;
          font-size: 1.4rem;
          line-height: 2;
          padding-bottom: 30px;
          border-bottom: double 6px #cbc8c2;
        }
      }

      //thoughts__bottomcategory
      .thoughts__bottomcategory {
        max-width: 530px;
        margin: 0 auto 80px auto;
        padding-left: 15px;
        .thoughts__menu {
          display: flex;
          align-items: center;
          li {
            margin-left: 11px;
          }
          .thoughtscategory__menu-item {
            a{
              padding: 5px 10px;
              background-color: #cbc8c2;
              color: #ffffff;
            }
            a:hover{
              opacity: 0.7;
            }
          }
        }
      }

      //snsshare
      .snsshare {
        &__text {
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 23px;
        }
        &__media {
          max-width: 580px;
          .snsshare__media-menu {
            display: flex;
            justify-content: space-between;
            li {
              width: 140px;
              height: 60px;
              background-color: #9b8a64;
              position: relative;
              a {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              a:hover {
                opacity: 0.7;
              }
            }
          }
        }
      }
      .comment {
        max-width: 640px;
        &__title {
          text-align: center;
          font-size: 2rem;
          margin-bottom: 20px;
        }
        &__form {
          width: 100%;
          .form__name {
            margin-bottom: 16px;
            font-size: 1.2rem;
            input {
              width: 100%;
              height: 39px;
              padding-left: 10px;
              background-color: #ffffff;
            }
          }
          .form__mailaddress {
            margin-bottom: 16px;
            font-size: 1.2rem;
            input {
              width: 100%;
              height: 39px;
              padding-left: 10px;
              background-color: #ffffff;
            }
          }
          .form__site {
            margin-bottom: 16px;
            font-size: 1.2rem;
            input {
              width: 100%;
              height: 39px;
              padding-left: 10px;
              background-color: #ffffff;
            }
          }
          .form__checkkeep {
            font-size: 1.6rem;
            margin-bottom: 16px;
            input {
              margin-right: 10px;
            }
          }
          .form__inquiry {
            margin-bottom: 16px;
            font-size: 1.2rem;
            textarea {
              width: 100%;
              height: 244px;
              padding: 10px;
              background-color: #ffffff;
            }
          }
          .form__send {
            text-align: center;
            input {
              font-size: 1.6rem;
              color: #ffffff;
              background-color: #9b8a64;
              padding: 12px 64px;
              text-align: center;
              border-radius: 3px;
            }
            input:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }

    //rightcontent
    .rightcontent {
      width: 320px;
      &__inr {
        .profile {
          background-color: #ffffff;
          padding: 24px 0;
          margin-bottom: 16px;
          &__icon {
            margin-bottom: 16px;
            text-align: center;
          }
          &__name {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 16px;
          }
          &__text {
            max-width: 260px;
            font-size: 1.2rem;
            margin: 0 auto 24px auto;
            line-height: 1.6;
          }
          &__media {
            max-width: 144px;
            margin: 0 auto;
            &-list {
              display: flex;
              justify-content: space-between;
              a:hover {
                opacity: 0.7;
              }
            }
          }
        }

        //rightcontent__search
        .rightcontent__search {
          display: inline-block;
          position: relative;
          background-color: #ffffff;
          border: #cbc8c2 1px solid;
          border-radius: 20px;
          color: #cbc8c2;
          margin-bottom: 40px;
          & input {
            padding: 3px 0 3px 3em;
            width: 320px;
            height: 40px;
            font-size: 1.6rem;
            &::placeholder {
              color: #cbc8c2;
            }
          }
        }
        .rightcontent__search::before {
          content: "";
          width: 16px;
          height: 16px;
          background: url(../image/search-icon.png) no-repeat center center /
            auto 100%;
          display: inline-block;
          position: absolute;
          top: 12px;
          left: 10px;
        }

        // rightcontent__category
        .rightcontent__category {
          text-align: center;
          font-size: 1.4rem;
          margin-bottom: 40px;
          &-h3 {
            font-weight: bold;
            margin-bottom: 12px;
            position: relative;
          }
          &-h3::before {
            content: "";
            background-image: url(../image/rightcontent-category-icon.png);
            width: 24px;
            height: 18px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 25%;
          }
          &-main {
            &item {
              border-bottom: 1px dashed #cbc8c2;
              a {
                display: block;
                width: 320px;
                height: 48px;
                display: flex;
                align-items: center;
                background-color: #ffffff;
                padding-left: 40px;
                position: relative;
              }
              a::after {
                content: "";
                position: absolute;
                top: 20px;
                right: 40px;
                background-image: url(../image/rightcontent-category-mark.png);
                width: 10px;
                height: 14px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
              }
              a:hover {
                opacity: 0.7;
              }
            }
            &itemtop {
              a {
                color: #ffffff;
                background-color: #9b8a64;
                position: relative;
              }
              a::after {
                content: "";
                position: absolute;
                top: 20px;
                right: 40px;
                background-image: url(../image/rightcontent-category-marktop.png);
                width: 10px;
                height: 14px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
              }
            }
          }
          &-main:nth-child(3){
            margin: 32px 0 40px 0;
          }
        }

        //rightcontent__tag
        .rightcontent__tag {
          margin-bottom: 40px;
          &-h3 {
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
            position: relative;
            margin-bottom: 12px;
          }
          &-h3::before {
            content: "";
            background-image: url(../image/rightcontent-tag-icon.png);
            width: 21px;
            height: 18px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 35%;
          }
          &-inr{
            width: 320px;
            height: 296px;
            background-color: #FFFFFF;
            &-block{
              color: #FFFFFF;
              font-size: 1.2rem;
              flex-wrap: wrap;
              text-align: start;
              display: flex;
              padding: 15px 20px 0 31px;
              box-sizing: border-box;
              &-item{
                margin: 0 16px 10px 0;
                background-color: #9B8A64;
                a{
                  display: block;
                  padding: 8px 10px;
                  text-align: start;
                }
                a:hover{
                  opacity: 0.7;
                }
              }
            }
          }
        }

        .rightcontent__arhive{
          &-h3{
            text-align: center;
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 12px;
            position: relative;
          }
          &-h3::before {
            content: "";
            background-image: url(../image/rightcontent-arhive-icon.png);
            width: 18px;
            height: 18px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            vertical-align: middle;
            position: absolute;
            top: 0;
            left: 28%;
          }
          &-content{
            background-color: #FFFFFF;
            select {
              height: 40px;
              padding-left: 10px;
              width: 320px;
              -webkit-appearance: none;
              appearance: none;
              background-image: url(../image/arhive-select-icon.png);
              background-position: right 10px center;
              background-repeat: no-repeat;
              background-size: 13px 13px;
              font-size: 1.2rem;
            }
            select:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  //recommended-articles
  .recommended-articles{
    max-width: 1000px;
    margin: 0 auto 68px auto;
    &-h2{
      font-size: 2rem;
      margin-bottom: 32px;
      text-align: center;
      font-weight: bold;
    }
    &-content{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &-block{
        max-width: 320px;
        margin-bottom: 32px;
        &-text{
          font-size: 1.8rem;
          line-height: 1.7;
          padding: 0 20px;
          box-sizing: border-box;
        }
        &-time{
          font-size: 1rem;
           color: #9B8A64;
           padding: 0 20px;
           position: relative;
           margin-left: 16px;
           a:hover{
             opacity: 0.7;
           }
           a::before{
            content: '';
            background-image: url(../image/recommended-articles-content-block-time.png);
            width: 10px;
            height: 10px;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            top: 0;
            left: 4px;
          }
        }
      }
      a:hover{
        opacity: 0.7;
      }
    }
  }
}

//footer
.footer{
  width: 100%;
  height: 335px;
  margin: 0 auto;
  background-color: #9B8A64;
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-logo{
      margin: 60px 0 42px 0;
      a:hover{
        opacity: 0.7;
      }
    }
    &-media{
      width: 192px;
      height: 40px;
      margin: 0 auto 80px auto;
      background-color: #333333;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      &-info{
        vertical-align: bottom;
        &-link{
          margin-left: 3px;
        }
        &-link:hover{
          opacity: 0.7;
        }
      }
    }
    &-media::before{
      content: '';
      background-image: url(../image/footer-content-media-line.png);
      display: block;
      width: 186px;
      height: 3px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 2px;
      left: 3px;
    }
    &-media::after{
      content: '';
      background-image: url(../image/footer-content-media-line.png);
      display: block;
      width: 186px;
      height: 3px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 35px;
      left: 3px;
    }
    &-copyright{
      font-size: 1rem;
    }
  }
}